@model Repository.ViewModel.ProfileChangePasswordViewModel;

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@{
    ViewData["Title"] = "Profile Change Password";
}


<div class="add_user_heading d-flex justify-content-between">
    <div class="fw-bold fs-2">Change Password</div>
</div>

<form method="post" class="ProfileChangeDiv py-3 d-flex flex-column">
    <div class="mb-3">
        Enter a new password to update your account credentials
    </div>
    <div>
        <div class="form-floating w-50 mb-3">
            <input style="position: relative;" asp-for="CurrentPassword" type="password" class="form-control"
                id="CurrentPassword" placeholder="Password">
            <i class="far fa-eye" id="toggleCurrentPassword"
                style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
            <label for="floatingPassword">Password*</label>
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="form-floating w-50 mb-3">
            <input type="password" class="form-control add_user_input  " id="newPassword" asp-for="NewPassword"
                placeholder="abc@123">
            <i class="far fa-eye" id="toggleNewPassword"
                style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
            <label for="newPassword">New Password*</label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating w-50 mb-3">
            <input type="password" class="form-control add_user_input" id="confirmPassword"
                asp-for="ConfirmPassword" placeholder="abc@123">
            <i class="far fa-eye" id="toggleConfirmPassword"
                style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
            <label for="floatingInput">Confirm New Password*</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-controller="Profile" asp-action="Profile" class="btn border-primary">Cancel</a>
    </div>
</form>

<script>
    const eyebtn = document.getElementById("toggleCurrentPassword");
    const passfield = document.getElementById('CurrentPassword');
    toggleCurrentPassword.addEventListener('click', function (e) {
        const type = passfield.getAttribute('type') === 'password' ? 'text' : 'password';
        passfield.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

    const eyeBtnForNew = document.getElementById("toggleNewPassword");
    const passFieldForNew = document.getElementById('newPassword');
    toggleNewPassword.addEventListener('click', function (e) {
        const type = passFieldForNew.getAttribute('type') === 'password' ? 'text' : 'password';
        passFieldForNew.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

    const eyeBtnForConfirm = document.getElementById("toggleConfirmPassword");
    const passFieldForConfirm = document.getElementById('confirmPassword');
    toggleConfirmPassword.addEventListener('click', function (e) {
        const type = passFieldForConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
        passFieldForConfirm.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>