/* html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin-bottom: 60px;
} */


#main-content {
  transition: margin-left 0.3s;
  padding: 30px;
  padding-top: 4px;
}

body {
  background-color: #f2f2f2;
}

.nav-link {
  color: black;
}

.offcanvas-header {
  background-color: white;
}

.offcanvas-body {
  background-color: white;
}

.offcanvas.show~#main-content {
  margin-left: 250px;
}

.offcanvas-backdrop.show {
  background-color: transparent;
}

#modal-backdrop::-webkit-scrollbar {
  display: none;
}

@media (max-width: 700px) {
  .offcanvas.show~#main-content {
    margin-left: 0;
  }

  .offcanvas {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
  }

  .offcanvas.show {
    left: 0;
  }

  #data-container {
    overflow-x: scroll !important;
  }

}

@media (max-width:450px) {
  #main-content {
    padding: 10px;
  }

  .src-lbl {
    right: 124px !important;
  }
}

.modal {
  background: linear-gradient(1deg, rgb(170, 179, 204), transparent);
}

.modal-backdrop {
  background: transparent;
  width: 0;
}


.btn {
  background-color: #0066a7;
  border: none;
}

.search-user {
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}

.add-btn {
  max-width: 100%;
  background-color: #0066a7;
  color: white;
  height: 40px;
  border: 1px solid #0066a7;
  border-radius: 5px;
}

.btn.show,
.btn:first-child:active {
  border: none;
}

/* for stop backdrop feature */
.offcanvas-backdrop {
  width: 0 !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
}

/* user profile */

#profile-bg {
  width: 100%;
  height: 65px;
}

.avatar {
  height: 43px;
}

.savebtn {
  background-color: #0066a7 !important;
  color: white !important;
  width: 79px !important;
  padding: 6px !important;
}

.cancelbtn {
  border: 2px solid #0066a7 !important;
  color: #0066a7 !important;
  width: 79px !important;
  padding: 6px !important;
}

/* -------------------- */
/* table pagination */
/* ------------------------ */


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  text-align: left;
}

th,
td {
  padding: 10px;
}


.pagination {
  text-align: center;
  margin-top: 2rem;
}

.pagination a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  margin: 0 5px;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #007BFF;
  color: white;
}

.pagination .active {
  background-color: #007BFF;
  color: white;
}

table,
th,
td {
  border-left: none;
  border-right: none;
}


@media only screen and (max-width:550px) {
  .head-top {
    display: block;
  }
}

.file-upload {
  color: white;
  border: none;
  opacity: 0;
  width: 100vw;
  /* height: 12px; */
}

.browse-content {}

.upl {
  height: 80px;
  border: 1px dashed black;
}

.box {
  box-shadow: 0px 5px 12px #999;
  background-color: white;
}

@media screen and (max-width:647px) {
  .srch {
    margin-right: 0;
  }

  .srch input {
    width: 90px;
  }

  .headings {
    font-size: 20px;
  }
}

@media screen and (max-width:385px) {
  body {
    margin-right: 0;
  }

}

@media only screen and (max-width:940px) {
  .b1 {
    overflow-x: scroll;
  }

  .bin {
    padding-left: 0 !important;
  }
}

/* 
*****************
new table style
*****************
 */

.edit-icon,
.delete-icon {
  color: black;
}


.modal-header {
  border-bottom: navy;
}

.modal-footer {
  border-top: none;
}

/* -------------------------- */
/* Roles */
/* ---------------------------- */

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  border-bottom: none;
}

/* ------------------ */
/* menu */

/* ----------------- */

.tab-pane {
  background-color: white;
}

.nav-pills a {
  color: #0066a7;
}

.has-search .form-control {}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  right: 226px;
}

.search-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url('https://img.icons8.com/ios-filled/50/000000/search.png') no-repeat center center;
  background-size: contain;
}

.right-icon .search-input {
  padding-left: 10px;
}

.left-icon .search-icon {
  left: 10px;
}

.right-icon .search-icon {
  right: 10px;
}

@media (max-width:450px) {
  .src-lbl {
    display: none !important;
  }
}

@media (max-width:470px) {
  .pagination {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .boxb1 {
    width: 95vw !important;
  }
}

@media (max-width:662px) {
  .roles-input {
    width: 180px !important;
  }
}

.row {
  height: auto !important;
}

.file-upload {
  display: inline-block;
  margin-bottom: 5px;
}



/* .dropdown-menu {
  left: -103px !important;
} */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: black;
  background-color: transparent;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: .25rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 0.5px solid rgb(110, 87, 87);
  outline: 0;
  box-shadow: 0 0 0 white !important;
}

.form-switch .form-check-input {
  width: 2.5em;
  height: 1.5em;
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
}

.user-box .nav-pills .nav-item .nav-link:hover {
  border-bottom: 1px solid #0066a7;
  border-radius: 0;
}

li {
  list-style: none;
}

.side-tab {
  height: 400px;
  overflow-y: scroll !important;
  padding: 44px;
  background-color: #F2F2F2;
  align-content: start;
  padding-left: 23px;
  padding-top: 25px;
}

@media (max-width: 768px) {
  #myTab {
    display: none;
  }
}

@media screen and (max-width:770px) {
  .side-tab {
    padding-top: 5px;
    padding-bottom: 3px;
  }
}

@media (min-width: 990px) {
  .side-tab {
    display: block !important;
  }
}

.menu-new-item-btn::after {
  content: "+ New Item";
}

@media (max-width: 600px) {
  .menu-new-item-btn::after {
    content: "+";
  }

  .src {
    width: 115px;
  }

  .src-lbl {
    right: 156px !important;
  }
}

.user-card-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.user-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.user-card-container:hover .user-actions {
  display: block;
  top: 1px;
}

.btn-edit,
.btn-delete {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.btn-edit i,
.btn-delete i {
  font-size: 17px;
}

.user-actions button {
  box-shadow: 0px 4px 6px rgba(245, 243, 243, 0.1);
}

.user-actions button:hover {
  box-shadow: 0px 6px 8px rgba(250, 248, 248, 0.2);
}

.cat.active-link {
  font-weight: bold;
  color: #0066a7;
}